#headers {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


*{
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

#signUpLink{
    color: rgb(76, 95, 124);
    text-decoration: none;
}

li{
    list-style-type: none;
}

#homepageExercises{
    flex-wrap: nowrap;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#workoutbuttons{
    padding-bottom: 2%;
}